* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(37, 9, 102);
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(73, 75, 187);
  text-decoration: none;
  color: rgb(151, 155, 150);
  }

 
 .menu{    
    color: white;
    font-size: 30px;
    padding: 14px 16px;
    float: left;

  }

footer {
    background-color: rgb(37, 9, 102);
    padding: 10px;
    text-align: center;
    color: white;
    border: 10px;
    margin-top: 10px;


    
  }

 .image{
   width: 300px;
   height: 300px;
   float: left;
 } 

 .parag{
   text-align: justify;
   margin: 5px;
 }
  
.colorencabezado{
  color: rgb(14, 5, 56);
}

.colorfondo{
  background-color: rgb(172, 177, 243);
}

.colorcuadro{
  background-color: white;
  max-width: 400px;
}

.imagefloat{
  float: left;
  
}

.lineadeco{
  border: 2px;
  border-color: teal;
  width: 75%;
 
}

.lomasancho{
  max-width: 500px;
}