* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(198, 202, 165);
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(187, 192, 139);
  text-decoration: none;
  color: rgb(151, 155, 150);
  }


  
 .menu{    
    color: white;
    font-size: 30px;
    padding: 14px 16px;
    float: left;

  }

footer {
    background-color: rgb(187, 192, 139);
    padding: 10px;
    text-align: center;
    color: white;
  }

 .image{
   width: 300px;
   height: 300px;
   float: left;
 } 

 .parag{
   text-align: justify;
 }
  
.colorencabezado{
  color: aqua;
}

.colorfondo{
  background-color: wheat;
}

.colorcuadro{
  background-color: white;
}